

.tile-admin {
   max-width:550px
}

.tilesContainer {
    -webkit-box-sizing:content-box !important;
    -moz-box-sizing:content-box !important;
    box-sizing:content-box !important;
}

.inner-tile-open{
    margin:0px 0px 10px 10px;
    padding:20px;
       padding-right:30px;
    overflow-y:auto;
    overflow-x:hidden;
}

.inner-tile{
    margin:10px;
    padding-right:30px;
    overflow-y:hidden;
    overflow-x:hidden;
}
.full-width {
    width:100%;
}

.btn-small {
    width:30px !important;
    height:30px !important;
    padding:0 !important;
}
.tags {
      display :inline-block;
}
.input-tile-size {
    width:40px !important;
    display :inline-block !important;
}

.form-control-custom {
    width:90% !important;
    padding:15px !important;
    margin-left:15px !important;
}

.tag {
    margin: 10px 0;
    border-radius: 6px;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    padding: 5px;
    margin-right: 10px;
    color:blue;
    text-decoration:underline;
}
.tag:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.textarea {
    width:100%;
    height: 150px;
}
.admin-tile-header {
    height:auto;
}
.drop-image {
     background: #aaa;
    box-shadow: inset 0 0 100px #6c6c6c;
}
.inline-images {
    z-index:2;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    width:100%;
}
.fa-li {
    
  position: absolute;
top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}
.details-image-container {
    position:relative;
    width:50%;
    color:#333;
}
.inner-tile {
    position:relative;
}

.tileMenu {
    /*display :inline-block;*/

}
.details {
    
    max-width:625px;
    position:relative;
}

.tile.ui-sortable-placeholder {
    visibility: visible !important;
    background: #aaa;
    box-shadow: inset 0 0 100px #6c6c6c;
}
.tile.active {
    box-shadow: inset 0 0 200px #6c6c6c;                
}
.tile.starting {
    transition-property: none;
}
  
.tile.grabbing {
    transform: rotate(3deg);            
    }
.tile.moving {
    box-shadow: #6c6c6c 0 0 5px 2px!important;
    transition: transform 200ms ease;    
}
