.tile-admin {
   max-width:550px
}

.tilesContainer {
    -webkit-box-sizing:content-box !important;
    -moz-box-sizing:content-box !important;
    box-sizing:content-box !important;
}

.inner-tile-open{
    margin:0px 0px 10px 10px;
    padding:20px;
       padding-right:30px;
    overflow-y:auto;
    overflow-x:hidden;
}

.inner-tile{
    margin:10px;
    padding-right:30px;
    overflow-y:hidden;
    overflow-x:hidden;
}
.full-width {
    width:100%;
}

.btn-small {
    width:30px !important;
    height:30px !important;
    padding:0 !important;
}
.tags {
      display :inline-block;
}
.input-tile-size {
    width:40px !important;
    display :inline-block !important;
}

.form-control-custom {
    width:90% !important;
    padding:15px !important;
    margin-left:15px !important;
}

.tag {
    margin: 10px 0;
    border-radius: 6px;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    padding: 5px;
    margin-right: 10px;
    color:blue;
    text-decoration:underline;
}
.tag:hover {
    color: red;
    cursor: pointer;
    text-decoration: none;
}

.textarea {
    width:100%;
    height: 150px;
}
.admin-tile-header {
    height:auto;
}
.drop-image {
    background:grey;
    min-width:200px;
    min-height:200px;
    max-width:400px;
    max-height:200px;
}

.inner-tile {
    position:relative;
}

.tileMenu {
    /*display :inline-block;*/

}
.details {
    
    max-width:625px;
    position:relative;
}