.menu {
    margin-top: 150px;
    margin-left: 150px;
    
    font-size: 1.2em;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    
    /* fallback */
    
    /*background-image: url(../images/LOGO-DOS-ETM-bitmap.png);
    background-size: 53px;
    background-repeat: no-repeat;
    background-position: 99% 2px;*/

    transition: all .2s ease-out 0;
    -o-transition: all .2s ease-out 0;
    -moz-transition: all .2s ease-out 0;
    -webkit-transition: all .2s ease-out 0;
    /*background: red;*/

    display: -webkit-flex;
  display: flex;
    flex-flow:row;
}

.menu p {
    text-align: center;
    vertical-align: middle;
    width: 150px;
    margin-right: 3px;
    margin-bottom: 0;
    background: white;
    padding: 5px;
    
}

.subMenu {
    width: 802px;
    height: 100px;
    margin-left: 150px;
    background: white;
    padding: 5px;
    display: none;


}
.subSubMenu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.subSubMenu img{
    flex-shrink: 0;
}

/*.menu:hover {
    
    background-color: rgba(0,0,0,0.5);
   
}*/
    
.floatingmenu{
    
    margin: 0;
    padding: 0;
    border: 0;
     /* what you wanted all along */
    position: relative; /* allow reference for absolute element */
    text-align: center;
    
}



.floatingmenu p{
    width: 120px;
    background: white;
}


.hiddenfloatingmenu {
    background: white;
    width: 500px;
    height:     150px;
    
    /*transition: all .5s ease-out 0;
    -o-transition: all .5s ease-out 0;
    -moz-transition: all .5s ease-out 0;
    -webkit-transition: all .5s ease-out 0;*/
    white-space: nowrap;
    /*display: none;*/
    text-align: center;
    
}


.hiddenfloatingmenu a{
    
    padding: 5px 0 5px 0;
    
    display: table-caption;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s ;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    
    text-align: left;

    

    /*fallback*/
    color: black;
    color: rgba(0,0,0,0.7);
}
.hiddenfloatingmenu a:hover {
    /*text-shadow:0px 0px 8px  rgba(0,0,0, 0.7)    ;*/
    color: rgba(0,0,0,1);
}

