    /* inherit height from window */


    @font-face {
    font-family: 'fontawesome-webfont';
    src: url('../fonts/font-awesome-4.2.0/fonts/fontawesome-webfont.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/RobotoTTF/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/RobotoTTF/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'RobotoCondensed-Light';
    src: url('../fonts/RobotoTTF/RobotoCondensed-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/RobotoTTF/Roboto-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('../fonts/RobotoTTF/Roboto-ThinItalic.ttf') format('truetype');
}
html, body { 
    height: 100%; 
    width:100%;
    background-color: rgb(255, 255, 255) !important;
    font-family: 'Roboto-Thin','Roboto-Black','RobotoCondensed-Light','Roboto-Light','Roboto-Thin', "Helvetica Neue", "Helvetica", sans-serif;
    color: rgb(35, 35, 35);
    overflow-x:hidden;
    overflow-y:hidden;
    letter-spacing: 1px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 4px;
}
 
/* Track */
::-webkit-scrollbar * {
background:transparent !important; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(255, 106, 0,0.8); 
}


.drop-box {
     transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;  
}


.tilesContainer {
    /*http://www.colorzilla.com/gradient-editor/*/
background: rgb(211,211,211); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(211,211,211,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,211,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(211,211,211,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */

    padding-left:150px;
    height: -moz-calc(100% - 50px) !important; 
    height: -webkit-calc(100% - 50px)!important; 
    height: -o-calc(100% - 50px)!important; 
    height: calc(100% - 50px)!important; 
    

    /*white-space: nowrap;*/
    width: -moz-calc(100% - 150px) !important; 
    width: -webkit-calc(100% - 150px)!important; 
    width: -o-calc(100% - 150px)!important; 
    width: calc(100% - 150px)!important; 
	overflow-y: hidden !important;
	overflow-x: scroll !important;
	-webkit-overflow-scrolling: touch;

        
    scrollbar-base-color : transparent;  
    scrollbar-track-color : transparent;
    scrollbar-highlight-color : transparent;
    scrollbar-arrow-color : transparent;
    scrollbar-face-color : rgba(3, 255, 8, 0.17);  
}

.tilesContainer:after {
  content: '';
  display: block;
  clear: both;
}

a {
    cursor:pointer;
    opacity:0.6
}
a:hover {
    opacity:1;
}

.tileSelected{
    width:auto !important;
}
.width1 {
    width:200px;
}
.width2 {
    width:450px;
}
.height1 {
    height:150px;
}
.height2 {
    height:200px;
}
.height3 {
    height:450px;
}
.drop-box.dragover {
    background: rgba(100, 255, 100, 0.50);
}

.footer {
    position:absolute;
    bottom: 0px;
    right:0px;
    font-size:0.8em;
}
.isotope-hidden {
    display:none !important;
    /*transform: translate3d(0px, 0px, 0px) scale3d(0.001, 0.001, 1) !important;*/
}
.tile-header {
    font-size :1.1em;
}

/*http://css-tricks.com/arranging-elements-top-bottom-instead-left-right-float/*/

/* clear fix */
/*.tilesContainer:after {
 content: '';
  display: block;
  clear: both;
}*/

/*http://manos.malihu.gr/repository/custom-scrollbar/demo/examples/complete_examples.html*/
p {
    font-size :1em;
    margin-top:10px;
    margin-bottom: 10px;
}

hr{
	background-color: transparent;
	height: 0;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,0.08);
	border-top: 2px solid rgba(0,0,0,0.2);
	margin: 0;
	clear: both; 
}


.smallHeightImage {
    max-height : 250px;
        
}
.vertical-text-open {
    display:none;
}

.vertical-text {
    color:#535353;
    position:absolute;
    top:0;
    left:100%;
    padding:4px 0 0 10px;
    font-size:1.1em;  
    
    overflow:hidden;
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);

	-ms-transform-origin: top left 0;
	-moz-transform-origin: top left 0;
	-webkit-transform-origin: top left 0;
	transform-origin: top left 0;

    white-space:nowrap;
}
.inner-tile-open{

    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;

    margin:0px 0px 0px 0px;
    padding:0px;
    
    overflow-y:hidden;
    overflow-x:hidden;

    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 

        /*http://www.colorzilla.com/gradient-editor/*/
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,244,244,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(244,244,244,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,244,244,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */

}

.inner-tile{

    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;

    /*margin:10px;*/
    padding-right:20px;
    overflow-y:hidden;
    overflow-x:hidden;
    
     -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 

             /*http://www.colorzilla.com/gradient-editor/*/
    background: rgba(255, 255, 255, 1); /* Old browsers */

}
.right-part{
    margin:0 0 0 12px;
    overflow-y:auto;
    overflow-x:hidden;
}

.tile:hover {
    opacity:0.2;
}
.tile {
   
    float: left;
    /*display: flex;
    align-items: flex-start;*/
  cursor:pointer;
    
    margin-right: 10px;
    margin-top: 5px;
    -o-transition: all .3s ease-out; -moz-transition: all .3s ease-out; -webkit-transition: all 0.3s ease-out; transition: all .3s ease-out;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
}
.tile-open {
    
    float: left;
    /*display: flex;
    align-items: flex-start;*/
    cursor:pointer;
    margin-right: 10px;
    margin-top: 5px;
    -o-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all 0.3s ease-out;/*, position 0s linear 1s;*/
    transition: all .3s ease-out;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
}
.hidden-object {
    display:none;
}
.details {
    
    /*-webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   overflow:auto;*/
    max-width:625px;
    position:relative;
    margin-bottom: 8px;
    margin-top: 8px;
}

.details-image {
    display:block;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}

.univers2 {
    background: rgba(40, 226, 40, 0.3);
}


.tileHeroImage {
    max-width:600px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.tileHeroImage-selected {
    width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.tileLeftPartDetails {
    -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   overflow:auto;
       
}

.tileTextArea {
  
    /*max-height: -moz-calc(100% - 250px);
    max-height: -webkit-calc(100% - 250px);
    max-height: -o-calc(100% - 250px);
    max-height: calc(100% - 250px);*/
    
    display:none;

    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    
    /*transition: all .2s ease-out 1;
    -o-transition: all .2s ease-out 1;
    -moz-transition: all .2s ease-out 1;
    -webkit-transition: all .2s ease-out 1;*/
     width:600px;
    overflow-y: auto;
	overflow-x: hidden;
}

.tileTextArea > img {
    width:95%;
}

.tileTitle {
    font-size: 20px;
    font-family: ArcherLight, Helvetica, Arial, sans-serif;
}

.tileText {
    /*-webkit-column-rule: 3px outset #ff00ff;*/
    /*height: -moz-calc(100% - 45px);
    height: -webkit-calc(100% - 45px);
    height: -o-calc(100% - 45px);
    height: calc(100% - 45px);*/
   
    text-align:justify;



    /*font-size: 18px;*/
    font-family: ArcherLight, Helvetica, Arial, sans-serif;


    transition: all .2s;
    -o-transition: all .2s ;
    -moz-transition: all .2s ;
-webkit-transition: all .2s ;
}


.nouveautesTitle {
    position: absolute;
    top: 10px;
    left: 5px;
    font-family: ArcherLight;
    font-size: 35px;
}

.filters{
    font-family: ArcherLight;
    font-size: 35px;
    color: white;
    top: 10px;
    display: inline-block;
    position: absolute;
}


.filters li{
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
}
